# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class
*.jar

# BlueJ files
*.ctxt

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.mvn/
config.properties
*.log
/target
